/* ---- Global ---- */
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* asegura que ocupe toda la pantalla */
    
    /* Fondo con imagen */
    background-image: url('../imagenes/unnamed.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    flex: 1; /* Empuja el footer hacia abajo */
}

/*-------- NAV --------*/
.navbar-brand {
    font-weight: bold;
}

/*---------- TARJETAS ---------*/
.card-title {
    font-size: 1.2rem;
}

/*----------- FOOTER -------------*/
footer {
    background-color: #f8f9fa; /* Igual que navbar-light */
    color: #212529;
    border-top: 1px solid #dee2e6;
    padding: 1rem 0;
    width: 100%;
}

footer a {
    color: #212529;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
